<div class="wrapper">
  <%= link_to "NewStore", new_store_path, class: "btn btn-success" %>
  <div id="stores" class="transitions-enabled masonry">
    <% @stores.each do |store| %>
      <div class="box panel panel-default">
        <%= link_to (image_tag store.avatar.url), store %>
        <div class="panel-body">
          <%= link_to store.name, store, class: "h2" %>
          <span>
            <i class="fa fa-comments-o"><%= store.comments.count %></i>
          </span>
          <span>
            <i class="fa fa-thumbs-o-up"><%= store.get_likes.size %></i>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
